**Q1. you are working in a bank and you have been given two lists of employees who have worked in 2021. employee's name in list 1 are ramesh, suresh, mahesh, ali, jacob and saritha. list 2 contains the names of ali, mukesh, mahesh, jacob, sai, sarita. please write a program which helps to idetify people who are common in both the lists. please dont use any built-in functions**

In [ ]:
# Solution

list1 = ["ramesh", "suresh", "mahesh", "ali", "jacob", "saritha"]
list2 = ["ali", "mukesh", "mahesh", "sai", "jacob", "saritha"]

# converting list to set
a = set(list1)       
b = set(list2)

# doing bitwise AND operation in both list to find whether element or string in one list equals with another list
#if it equals it returns those as a result

print(a & b)

{'jacob', 'mahesh', 'ali', 'saritha'}

**Q2 while entering data, someone entered a few names as a common string "ramesh suresh mohit". please write a program which seperates all the names and convert them into a list. Once converted into a list, write a program to add their ages
ramesh : 25 suresh : 22 mohit : 26**

In [2]:
# Solution

a = "Ramesh Suresh Mohit"
b = list(a.split())
b = ['Ramesh', 25, 'Suresh', 22, 'Mohit', 26]
dic = {b[i] :b[i+1] for i in range(0, len(b), 2)}  # using list comprehension converting list to dictionary 
for i in dic.items():
  print(i)

('Ramesh', 25)
('Suresh', 22)
('Mohit', 26)

In [3]:
# another method of solving problem

a = "Ramesh Suresh Mohit"
b = list(a.split())
b.insert(1, 25)
b.insert(3, 22)
b.insert(5, 26)
print(b)

['Ramesh', 25, 'Suresh', 22, 'Mohit', 26]

**Q3 : A few students from a university have taken 3 exams
name = sam, jacy, tom, steve
Python : 25, 26, 29, 28
statistics : 23, 21, 19, 25
SQL : 29, 27, 28, 25**
**write a program which calculates mean values of all 3 tests and print highest mean addition and other functions allowed please also report who scored highest mark in python using programming construct**

In [14]:
# Solution

name = ["sam", "jacy", "Tom", "steve"]
p = [25, 26, 29, 28]
s = [23, 21, 19, 25]
sq = [29, 27, 28, 25]

# finding the mean for python subject
py = sum(p) / len(p)
print(py)

# finding the mean for satistics subject
stat = sum(s) / len(s)
print(stat)

# finding the mean for SQL subject
sql = sum(sq) / len(sq)
print(sql)


# finding the highest mean value of all 3 subjects
a = 27.0
b = 22.0
c = 27.25

if a > b and a > c:
  print("The higher mean vaue is : ", a)
elif b > a and b > c:
  print("The higher mean vaue is : ", b)
elif c > a and c > b:
  print("The higher mean vaue is : ", c)
else:
  print("None")

# finding who scored higher marks in python subject using function
# function definition

name = ["sam", "jacy", "Tom", "steve"]
p = [25, 26, 29, 28]

def func_marks():
  max = 0
  for i in p:
    if i > max:
      max = i
  print(max)

27.0
22.0
27.25
The higher mean vaue is :  27.25

In [15]:
# here calling the function to generate result

func_marks()

29

**Q4 : You are working in a medical store. A patient came to your store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamic C. One strip of paracetamol costs Rs. 35, one strip of azithromycin costs Rs. 49, and one strip of Vitamic C costs around Rs. 33. Patient gives you Rs. 2000. please tell us what is the total cost of each medicine, total costs of all medicine and how much money refunded to the patient**

In [16]:
a = [2, 3, 5]
b = [35, 49, 33]
c = []
grand_total = 2000

# finding the cost of all medicine and saving it in another list

for i in range(0, len(a)):
  c.append(a[i] * b[i])
print(c)

# first finding total cost of each medicine

sum0 = 0
for i in b:
  sum0 += i
print("the total cost of each medicine :", sum0)

# second finding total cost of all medicine

sum1 = 0
for i in c:
  sum1 += i
print("the total cost of all medicine :", sum1)


# last printing the balance amount refunded to the patient   

print("the money refunded to the patient : ", grand_total - sum1)

[70, 147, 165]
the total cost of each medicine : 117
the total cost of all medicine : 382
the money refunded to the patient :  1618

**Q5 : Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example i am learning python contains 6 vowels. This function should be applicable for all other different sentences.:**

In [17]:
# this function checks whether the entered string contains vowels or not
# function_definition

def func_vowels():
  count = 0
  for i in a:
    if i in "aeiou":
      count += 1
  print("the sentence contains", count , "vowels")

In [18]:
# here in this code we calling that function to generate output 

a = input("enter string : ")
func_vowels()

enter string : i am learning python
the sentence contains 6 vowels

**Q6 : You have been appointed by th election commission to create a website.
Your first task is to work on a program which tells candidate if they are eligible for voting or not. if they are eligible your output must be "congrats! you are eligible". otherwise it should return "return after x number of years". Eligibility criteria for voting is 18 years.**

In [19]:
age = int(input("enter your age : "))
if age >= 18:                                 # using if condition to check whether person is above or equal to 18 years
  print("Congrats ! you are eligible")
else:
  print("return after", 18-age, "years")

enter your age : 15
return after 3 years